<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Responsive Video Gallery</title>
    <link rel="stylesheet" href="../static/main.css">

  </head>

  <body>

    <section class="second clearfix">
      
      <header>
        <h1>Videos populaires</h1>
      </header>
      {% for video in trendVideos %}
      <article class="video">
        <form method="post" action="/video" id="{{video['link']}}FormTrend">
          <input type="hidden" name="link" value="{{video['link']}}">
          <input type="hidden" name="teamHome" value="{{video['teamHome']}}">
          <input type="hidden" name="teamAway" value="{{video['teamAway']}}">
          <figure>
            <a id="{{video['link']}}Trend" class="fancybox fancybox.iframe" href="#">
            <img class="videoThumb" src="http://i1.ytimg.com/vi/{{video['link']}}/mqdefault.jpg"></a>
          </figure>
          <h2 class="videoTitle">{{video['teamHome']}}&nbsp;{{video['teamAway']}}&nbsp;
            {{video['goalsHome']}}-{{video['goalsAway']}}</h2>
        </form>
      </article>
      <script>
        document.getElementById("{{video['link']}}Trend").onclick = function(){
            var form = document.getElementById("{{video['link']}}FormTrend");
            form.submit();
        };
      </script>
      {% endfor %}

    </section>

    <section class="second clearfix">

      <header>
        <h1>Videos suivantes ?</h1>
      </header>
      {% for video in nextVideos %}
      <article class="video">
        <form method="post" action="/video" id="{{video['link']}}FormNext">
          <input type="hidden" name="link" value="{{video['link']}}">
          <input type="hidden" name="teamHome" value="{{video['teamHome']}}">
          <input type="hidden" name="teamAway" value="{{video['teamAway']}}">
          <figure>
            <a id="{{video['link']}}Next" class="fancybox fancybox.iframe" href="#">
            <img class="videoThumb" src="http://i1.ytimg.com/vi/{{video['link']}}/mqdefault.jpg"></a>
          </figure>
          <h2 class="videoTitle">{{video['teamHome']}}&nbsp;{{video['teamAway']}}&nbsp;
            {{video['goalsHome']}}-{{video['goalsAway']}}</h2>
        </form>
      </article>
      <script>
        document.getElementById("{{video['link']}}Next").onclick = function(){
            var form = document.getElementById("{{video['link']}}FormTNext");
            form.submit();
        };
      </script>
      {% endfor %}

    </section>

    <section class="second clearfix">

      <header>
        <h1>Votre équipe </h1>
      </header>
      {% for video in favoriteTeamVideos %}
      <article class="video">
        <form method="post" action="/video" id="{{video['link']}}FormFav">
          <input type="hidden" name="link" value="{{video['link']}}">
          <input type="hidden" name="teamHome" value="{{video['teamHome']}}">
          <input type="hidden" name="teamAway" value="{{video['teamAway']}}">
          <figure>
            <a id="{{video['link']}}Fav" class="fancybox fancybox.iframe" href="#">
            <img class="videoThumb" src="http://i1.ytimg.com/vi/{{video['link']}}/mqdefault.jpg"></a>
          </figure>
          <h2 class="videoTitle">{{video['teamHome']}}&nbsp;{{video['teamAway']}}&nbsp;
            {{video['goalsHome']}}-{{video['goalsAway']}}</h2>
        </form>
      </article>
      <script>
        document.getElementById("{{video['link']}}Fav").onclick = function(){
            var form = document.getElementById("{{video['link']}}FormFav");
            form.submit();
        };
      </script>
      {% endfor %}

    </section>

    <section class="second clearfix">

      <header>
        <h1>Toutes nos vidéos</h1>
      </header>
      {% for video in allVideos %}
      <article class="video">
        <form method="post" action="/video" id="{{video['link']}}FormAll">
          <input type="hidden" name="link" value="{{video['link']}}">
          <input type="hidden" name="teamHome" value="{{video['teamHome']}}">
          <input type="hidden" name="teamAway" value="{{video['teamAway']}}">
          <figure>
            <a id="{{video['link']}}All" class="fancybox fancybox.iframe" href="#">
            <img class="videoThumb" src="http://i1.ytimg.com/vi/{{video['link']}}/mqdefault.jpg"></a>
          </figure>
          <h2 class="videoTitle">{{video['teamHome']}}&nbsp;{{video['teamAway']}}&nbsp;
            {{video['goalsHome']}}-{{video['goalsAway']}}</h2>
        </form>
      </article>
      <script>
        document.getElementById("{{video['link']}}All").onclick = function(){
            var form = document.getElementById("{{video['link']}}FormAll");
            form.submit();
        };
      </script>
      {% endfor %}

    </section>

  </body>

  <footer>
    <p>Simple Responsive Video Gallery by <a href="http://angelajholden.com" target="_blank">Angela J. Holden</a><p>
  </footer>
  
</html>